// Place all the styles related to the Hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-button, .search-form {
  float: right;
}

em {
  background: #5df90a;
}

li p {
  text-align: justify;
  font-size: 1em;
}
