<%= provide(:title, "About") %>

<h1>About</h1>

<p>Hotels Adviser gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over 240,000 properties worldwide. The company offers a one-stop shopping source for hotel pricing, amenities and availability and also specialises in providing travellers with accommodation during sold-out periods.</p>
